
body {
    height: 100vh;
    width: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
.bg1{
    height: 100vh;
    width: 100%;
    background-image: url(bg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.animated-img{
    animation: fadeInEffect 3s ease-in-out;
}

@keyframes fadeInEffect {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  }

.div1{
    border-radius: 30px 0px 0px 30px;
}

.div2{
    border-radius: 0px 30px 30px 0px;
}

.input1{
    width: 100%;
    outline: none;    
}