@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Hanken Grotesk", sans-serif;}

.text1 {
    font-size: 50px;
    color: #441a11;
    font-family: 'kellissa';
}


@font-face {
    font-family: 'kellissa';
    src: url(Kellissa.ttf);
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(HankenGrotesk-VariableFont_wght.ttf);
}

.divs{
    background-color: white;
    animation: animate1 3s linear infinite;
}

@keyframes animate1 {
    50%{
        background-color: #deb39c;
    }
}

.divs1{
    background-color: #deb39c;
    animation: animate2 3s linear infinite;
}


@keyframes animate2 {
    50%{
        background-color: white;
    }
}